<h1>Celebrities Page</h1>
{{!-- <p>Welcome to {{title}}</p> --}}

<div id="big">

  <div class="new-celebrity-form">

    <div>
        <label>Celebrity:</label>
        <input id="name" type="text">
    </div>

    <div>
        <label>Occupation:</label>
        <input id="occupation" type="text">
    </div>

    <div>
        <label>Catch Phrase:</label>
        <input id="catch-phrase" type="text">
    </div>


    <button id="new-celebrity-button">Submit new celebrity</button>



  </div>


  <div>
      <div id="celebrity-list">

      </div>
  </div>

</div> 
